#home {
    .busqueda {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        .inputBusqueda {
            color: rgba(0, 0, 0, 0.616);
            width: 40%;
            margin: auto;
            border: 1px solid rgb(5, 33, 94);
            border-color: rgb(11, 7, 252);
            &:focus {
                border: 1px solid #ccc;
            }
        }
    }
    .card-list {
        display: inline-flex;
    }
    .vuelo-card {
        width: 200px;
        height: 150px;
        padding: 1em;
        margin: 1em;
        text-align: left;
        border-radius: 5px;
        @extend .z-depth-2;
        cursor: pointer;
        &:hover {
            @extend .z-depth-3
        }
    }
    .vuelo-container {
        font-family: "Raleway", Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 5px;
        width: 200px;
        height: 150px;
        color: #000000;
        text-align: center;
        -webkit-perspective: 50em;
        perspective: 50em;
    }
    .vuelo-container * {
        -webkit-box-sizing: padding-box;
        box-sizing: padding-box;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .vuelo-container img {
        max-width: 100%;
        vertical-align: top;
    }
    .vuelo-container .vuelo-reservar {
        top: 50%;
        left: 20px;
        right: 20px;
        position: absolute;
        opacity: 0;
        z-index: 1;
    }
    .vuelo-container div {
        margin: 0;
        font-weight: 600;
    }
    .vuelo-container i {
        font-size: 32px;
    }
    .vuelo-container:after {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        content: "";
        display: block;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0;
    }
    .vuelo-container a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
    .vuelo-container:hover .vuelo-reservar,
    .vuelo-container.hover .vuelo-reservar {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 1;
        color: #ffffff;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .vuelo-container:hover:after,
    .vuelo-container.hover:after {
        color: #ffffff;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 0.9;
    }
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}